.spinnerContainer {
    margin: 20% auto;
    max-width: 15%;
  
  }
  .loadingSpinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #383636; 
    border-radius: 50%;
    animation: spinner 0.5s linear infinite;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 768px) {
    .spinnerContainer {
      margin: 250px auto 0 auto;
      max-width: 30%;
    }
  }
  @media (max-width: 425px) {
    .container {
      max-width: 90%;
    }
    .spinnerContainer {
      margin: 250px auto 0 auto;
      max-width: 40%;
    }
  }   
  @media (max-width: 375px) {
    .container {
      max-width: 95%;
    }
  
    .spinnerContainer {
      margin: 250px auto 0 auto;
      max-width: 45%;
    }
  }
 
  
  
  